@blur-cover: 10px;
@bg-bright: 0.2;

@font-face {
  font-family: "Caviar";
  src: url('../fonts/CaviarDreams.ttf');
}

html, body{
  width: 100%;
  height: 100%;
  font-family: Caviar, OpenSans;
}

div {
  box-sizing: border-box;
}
a {
  color: white;
}
a:visited {
  color: white;
}

.main {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .oklm {
    width: 100%;
    //z-index: 20;
    position: relative;
    text-align: center;

    .logo {
      width: 250px;
      position: relative;
      margin: auto;
      padding-top: 20px;

      //text-shadow: 0 0px 2px black;

      .couronne{
        width: 100px;
        padding-bottom: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .logotxt {
        margin-left: 3px;
        font-size: 4em;
        font-weight: 400;
        color: white;
      }
      .logofm {
        font-size: 2em;
        font-weight: 400;
        letter-spacing: 8px;


        position: relative;
        top: -15px;
        left: -9px;

        display: inline-block;
        color: white;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }

    .slogan {
      padding-top: 10px;
      width : 50%;

      position: relative;
      margin: auto;
      text-align: center;

      font-size: 1em;
      font-weight: 500;
      color: white;
      text-shadow: 0 1px 4px black;
    }
  }

  .album-bg {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    img{
      position: absolute;
      display: block;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 80%;

      -webkit-filter: blur(@blur-cover) brightness(@bg-bright) saturate(0.8);
      -moz-filter: blur(@blur-cover) brightness(@bg-bright) saturate(0.8);
      filter: blur(@blur-cover) brightness(@bg-bright) saturate(0.8);
    }
  }

  .central-panel {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;

    padding: 20px;

    img {
      display: block;
    }

    .history-opener {
      position: absolute;
      cursor: pointer;
      right: -10px;
      top: 28px;

      img{
        width:22px;
        opacity: 0.4;
      }
      &:hover {
        img{
          opacity: 1;
        }
      }
    }
    .album-cover {

      position: relative;
      width: 100%;
      height: 100%;

      &:hover {
        #cover {
          opacity: 0.4;
        }
        #cover-pause {
          visibility: visible;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }

      #cover {
        max-width: 100%;
        max-height: 100%;
        &.fade {
          opacity:0.2;
        }
      }

      .btn-play {
        cursor: pointer;

        width: 40%;
      }

      #cover-pause {
        visibility: hidden;
      }

      &:hover {
        #cover-pause {
          visibility: visible;
        }
      }
    }

    .links {
      position: absolute;
      height: 80%;
      top: 10%;
      right: -15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .link {
        margin: 5px 0;

        img {
          width: 26px;
          opacity: 0.3;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .songinfo {
    display: block;
    position: relative;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }

    .artist {
      font-weight: 700;
    }
    .title {
      font-weight: 400;
    }
    padding-bottom: 20px;
  }

  .informations {
    position: fixed;
    left:20px;
    top: 20px;

    a{
      text-transform: uppercase;
      text-decoration: none !important;
    }
    color: white;
    font-size: 0.7em;
  }

  .apps {
    position: fixed;
    left: 10px;
    bottom: 42px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .text {
      position: absolute;
      top: -37px;
      font-size: 0.8em;
      text-align: center;
      color: white;
    }
    img {
      width: 80px;
    }
  }

  .history-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .history {
    position: relative;
    z-index: 10;

    max-height: 80%;

    width: 450px;
    max-width: 90%;

    background-color: rgba(0,0,0,0.95);
    border: 1px solid #353535;

    color: white;

    .close-btn {
      position: absolute;
      cursor: pointer;
      right: 10px;
      top: 10px;
      img{
        width:14px;
      }
    }

    .history-header {
      height: 40px;
      width:100%;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;

      border-bottom: 1px solid #353535;
      padding: 10px 0;
    }

    .songs-container {
      height: calc(~"100% - 50px");
      width: 100%;
      top: 20px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 10px 0 10px 10px;
    }
    .songs {
      text-align: left;
      table-layout: fixed;
      width: 100%;
      .song {
        td {
          height: 28px;
          margin-bottom: 5px;
        }
        .songname {
          width: calc(~'100% - 60px');
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .artist {
            font-weight: 700;
          }
          .title {
            font-weight: 300;
          }
        }
        .link {
          width: 20px;
          padding-left: 5px;
          .hover-act {
            visibility: hidden;
            cursor: pointer;
            opacity: 0.2;
            &:hover {
              opacity: 1;
            }
            img {
              width: 20px;
              position: relative;
              top: 3px;
            }
          }
        }
        &:hover {
          .hover-act {
            visibility: visible;
          }
        }
      }
    }
  }
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(227, 225, 219, 0.5);
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(227, 225, 219, 0.8);
}

// Mobile tweaks

@media (max-width: 600px) {
  .apps {
    display: none !important;
  }
}